<div class="col-6 col-md-4 col-lg-3 mb-3">
    <div class="card flex-column">
        <div class="card-image">
            <a href="<%= seo_url(item) %>"><%= product_image(item) %></a>
        </div>
        <div class="card-body">
            <h2><a href="<%= seo_url(item) %>"><%== (@excerpter.nil? ? item.seo_name : (@excerpter.excerpt! item.seo_name ))  %></a></h2>
        </div> 
    </div>
</div>