 <footer id="footer">
    <div class="container">
        <div class="footer-links"><%= sanitize footer_links %></div>
        <div class="footer-policy"><%= sanitize policy %></div>
        <div class="copy-right">©<a href="/"><%= current_store.name %></a></div>
    </div>
</footer> 